.about__article {
  display: flex;
  margin-bottom: 170px;

  &:last-of-type {
    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
  }
}

.about__nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin: 100px 80PX;
  font-size: 17.577px;
  font-weight: 500;
  line-height: 28.635px;
}

.article-text {
  font-size: 17.577px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.635px;

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 20px;
  }
}

.about__subheading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.5px;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 15px;
  }
}

.article__img {
  max-width: 50%;

  @media (max-width: $tablet-width) {
    max-width: unset;
    width: 100%;
    height: 100vw;
  }
}

// Mission article

.mission {
  display: flex;
  gap: 10px;
  padding-left: 130px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: unset;
    padding-left: 0;
  }
}

.mission__wrapper {
  width: 670px;
  max-width: 50%;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: unset;
    width: unset;
    padding: 0 16px;

    .article-text {
      order: 3;
      margin-bottom: 40px;
    }
  }
}

.mission__img-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 110px;

  img {
    max-width: calc(50% - 10px)
  }

  @media (max-width: $tablet-width) {
    order: 2;
    margin-bottom: 40px;

    img {
      width: 120px;
      height: 160px;
    }
  }
}

.mission__heading {
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    margin-right: 40px;
    order: 1;
  }
}

// Proud

.proud {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding-left: 0;

    .article-text {
      padding: 0 16px;
    }
  }
}

.proud__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--text {
    flex-direction: column;
    align-items: end;
    max-width: 525px;
  }

  &--ml {
    flex-direction: column;
    align-items: center;
    width: calc(100% + 130px);
    margin-top: 200px;
    margin-left: -130px;
  }

  @media (max-width: $tablet-width) {
    order: 2;
    flex-direction: column;
    margin-bottom: 20px;

    &--ml {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.proud__bcg {
  width: 100%;
  height: 635px;
  margin-bottom: 40px;
  background:
    linear-gradient(271deg, rgba(220, 220, 217, 0) 80.56%, rgba(220, 220, 217, 0.68) 99.58%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%),
    url(../img/img/about/girl.webp) lightgray 0px -272.5px / 100% 226.772% no-repeat;
  background-size: cover;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    background: url(../img/img/about/girl-mob.webp) lightgray 50% no-repeat;
    background-size: cover;
  }
}

.proud__img-proud {
  @media (max-width: $tablet-width) {
    order: 1;
    object-fit: contain;
    width: 100%;
    height: 100vw;
    margin-bottom: 100px;
  }
}

.proud__img-ua {
  margin-bottom: 20px;
  @media (max-width: $tablet-width) {
    max-width: 100%;
  }
}

.proud__img-482 {
  @media (max-width: $tablet-width) {
    order: 3;
    width: 50%;
  }
}

.proud__img-proudtobe {
  @media (max-width: $tablet-width) {
    width: 95%;
    height: auto;
  }
}

// History

.history {
  flex-direction: column;

  .article-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }

  img {
    max-width: 50%;
  }

  @media (max-width: $tablet-width) {
    .article-text {
      font-size: 10px;
      line-height: 18px;
    }

    img {
      order: 1;
      max-width: unset;
      width: 100%;
      height: 100vw;
      margin-bottom: 40px;
    }
  }
}

.history__heading {
  max-width: 730px;
  margin-bottom: 100px;
  margin-left: 130px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0 16px;
  }
}

.history__wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;

    &:first-of-type {
      margin-bottom: 40px;
    }
  }
}

.history__about {
  &--as-end {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    &--as-end {
      margin-bottom: 0;
    }
  }
}

.history__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

  &--horisont {
    padding: 0px 40px 40px 110px;
  }

  &--vertical {
    order: 2;
    flex-direction: row;
    align-items: center;
    max-width: 50%;
    padding: 0px 80px;

    .history__about {
      width: 50%;
    }
  }

  @media (max-width: $tablet-width) {
    order: 2;

    &--horisont {
      padding: 0 16px;
    }

    &--vertical {
      gap: 30px;
      max-width: unset;
      padding: 0px 16px;

      .history__about {
        width: 50%;
      }
    }
  }
}

// Technology

.technology {
  margin-left: 246px;
  padding-left: 130px;

  @media (max-width: $tablet-width) {
    gap: 40px;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }
}

.technology__img {
  @media (max-width: $tablet-width) {
    width: 100%;
    height: 100vw;
  }
}

.technology__img-wrapper {
  position: relative;
}

.technology__img {
  max-width: 100%;
  height: auto;
}

.technology__heading {
  position: absolute;
  top: 90px;
  left: -246px;
  max-width: 430px;
  color: $basic-white;
  display: flex;
  flex-wrap: wrap;

  span {
    color: black;
  }

  @media (max-width: $tablet-width) {
    all: unset;
    position: absolute;
    top: 90px;
    left: -246px;
    max-width: 430px;
    color: $basic-white;
  }
}

.technology__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
  max-width: 450px;
  padding: 0 50px;

  @media (max-width: $tablet-width) {
    padding: 0 16px;

    .btn {
      width: 100%;
    }
  }
}

// Founders

.founders {
  flex-direction: column;
  align-items: center;
}

.founders__heading {
  margin-left: 130px;
  margin-right: auto;
  max-width: 790px;
  margin-bottom: 55px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 40px;
    padding: 0 16px;
  }
}

.founders__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    padding: 0 16px;
    gap: 40px;
  }
}

.founders__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;

  &:first-child {
    margin-right: 80px;
  }

  &:last-child {
    margin-left: 80px;
  }

  &.active {
    gap: 0;

    .founders__name {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: all 500ms ease-in-out;
    }

    img {
      width: 100%;
      min-height: 546px;
      transition: min-height 500ms ease-in-out;
    }
  }

  &.not-active {
    .founders__name {
      font-size: 20.178px;
      line-height: 27.267px;
      letter-spacing: 0.261px;
      transition: all 500ms ease-in-out;
    }

    img {
      max-width: 217px;
      max-height: 322px;
      min-height: unset;
      transition: max-height 500ms ease-in-out;
    }
  }

  img {
    width: 100%;
    min-height: 493px;
    transition: min-height 500ms ease-in-out;
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
    width: 100%;

    &:first-child {
      justify-content: start;
      margin-right: 0;
    }

    &:last-child {
      margin-left: 0;
      img {
        order: 2;
      }
    }

    img {
      object-fit: contain;
      width: 46%;
      min-height: unset;
      max-height: 240px;
    }
  }
}

.founders__img-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: $tablet-width) {
    flex-direction: row;
  }
}

.founders__text-wrapper {
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 18px;
    font-size: 12px;
    line-height: 20px;
  }
}

.founders__name {
  display: flex;
  gap: 10px;
  font-size: 31px;
  font-weight: 400;
  line-height: 41.7px;
  letter-spacing: 0.4px;
  opacity: 1;
  transition: all 500ms ease-in-out;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 0;
    font-size: 19.943px;
    line-height: 24.891px;
    letter-spacing: 0.256px;
  }
}

// Principles

.principles {
  flex-direction: column;
}

.principles__wrapper {
  max-width: 855px;
  margin-bottom: 60px;
  margin-left: 130px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 0 16px;
  }
}

.principles__heading {
  margin-bottom: 35px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}


