.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 345px;
  margin-bottom: 40px;

  &--blog {
    gap: 10px;
  }

  &--popup {
    gap: 8px;
    width: 167px;
    font-size: 7.5px;

    .card__pcice-wrapper,
    .card__name {
      line-height: 12.5px;
    }
  }

  @media (max-width: $tablet-width) {
    min-width: 100%;

    &--popup {
      width: calc(50% - 5px);
      min-width: unset;
    }
  }
}

.card__pcice {
  min-width: 46px;
}

.card__bcg {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  background: #f7ca50;


  a:not(.card__like) {
    height: 100%;
    cursor: unset;
  }

  &--blog {
    height: 207px;
  }

  &--popup {
    height: 190px;
  }

  &:hover:not(.card__bcg--no-scale) {
    overflow: hidden;

    img {
      scale: 1.1;
      transition: scale 200ms ease-in-out;
    }
  }
}

.card__info {
  position: absolute;
   display: flex;
  gap: 20px;
  width: 100%;
  padding: 5px;
  background: #ececec;
}

.card__like {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 0;
  border: none;

  svg {
    fill: none;
  }

  &--active {
    svg {
      fill: #f7ca50;
    }
  }
}

.card__wrapper {
  border-top: 1px solid #e3c7bf;

  &--blog {
    border-top: 0;
  }
}

.card__pcice-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-weight: 400;
  line-height: 26px;

  &--blog {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3c7bf;
  }
}

.card__name {
  font-weight: 700;
  line-height: 26px
}

.card__about {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #9F9F9F;
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
