.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 345px;
  margin-bottom: 40px;

  &--blog {
    gap: 10px;
  }

  &--popup {
    gap: 10px;
    width: 167px;
    font-size: 9px;
    margin-bottom: 0;

    .card__pcice-wrapper,
    .card__name,
    .card__type {
      line-height: 1.5;
    }
  }

  @media (max-width: $tablet-width) {
    min-width: 100%;

    &--popup {
      width: calc(50% - 5px);
      min-width: unset;
    }
  }
}

.card__pcice {
  min-width: 75px;
  text-align: right;
}

.card__old-price {
  font-size: 16px;
  color: #a4a4a4;
  text-decoration: line-through;
}

.card__bcg {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  background: #f7ca50;

  a:not(.card__like) {
    height: 100%;
  }

  &--blog {
    height: 207px;
  }

  &--popup {
    height: 190px;
  }

  &:hover:not(.card__bcg--no-scale) {
    overflow: hidden;

    img {
      scale: 1.1;
      transition: scale 200ms ease-in-out;
    }
  }
}

.card__info {
  position: absolute;
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 5px;
  background: #ececec;
}

.card__discont {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.381px;
  background-color: #fbbc04;
}

.card__like {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 0;
  border: none;

  svg {
    fill: none;
  }

  &--active {
    svg {
      fill: #f7ca50;
    }
  }
}

.card__wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
  border-top: 1px solid #e3c7bf;

  &--blog {
    border-top: 0;
  }
}

.card__pcice-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;

  &--blog {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3c7bf;
  }
}

.card__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.card__about {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #9f9f9f;
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
