.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #000;
}

.cart__btn-next-step {
  width: 100%;
  background: black;
  color: white;
}

.cart__heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__heading {
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;

  @media (max-width: $tablet-width) {
    font-size: 22px;
  }
}

.cart__subheading {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.cart__wrapper {
  display: flex;
  gap: 60px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.cart__steps-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: $tablet-width) {
    order: 2;
  }
}

.cart__step {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .cart__complete-wrapper {
    display: none;
  }

  &--complete {
    padding: 20px;
    background-color: $main-color;
    background-repeat: no-repeat;
    background-size: cover;

    .cart__info-wrapper {
      display: none;
    }

    .cart__info-heading {
      padding: 0;
    }

    .cart__complete-wrapper {
      display: flex;
    }

    &.cart__step-1 {
      background-image: url(../img/img/cart/cart1.webp);
    }

    &.cart__step-2 {
      background-image: url(../img/img/cart/cart2.webp);
    }
  }

  &--disabled {
    background: #d4d6df;

    .cart__info-wrapper,
    .cart__complete-wrapper {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    &--complete {
      &.cart__step-3 {
        padding-bottom: 150px;
      }
    }
  }
}

.cart__complete-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__complete-data {
  text-transform: none;
}

.cart__btn-edit {
  padding: 6px 20px;
  text-transform: none;
}

.cart__info-heading {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.cart__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart__info-tabs {
  display: flex;
  gap: 20px;
  justify-content: start;

  @media (max-width: $tablet-width) {
    justify-content: space-around;
  }
}

.cart__info-tab {
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  border: 0;
  outline: 0;

  &--active {
    outline: 1px solid #000;
  }
}

.cart__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 355px;
  width: 355px;

  @media (max-width: $tablet-width) {
    min-width: unset;
    width: 100%;
  }
}

.cart__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .cart__content-wrapper {
    display: none;
    height: 0;
    overflow: hidden;
    border-bottom: 1px solid #e3c7bf;
  }

  .cart__rotate-btn {
    transform: rotate(180deg);
    transition: transform 500ms ease-in-out;
  }

  &--open {
    .cart__content-wrapper {
      display: flex;
      height: auto;
      padding-top: 15px;
    }

    .cart__rotate-btn {
      transform: rotate(0);
      transition: transform 500ms ease-in-out;
    }
  }
}

.cart__content-wrapper {
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
}

// MINI CARD

.cart__card-img-wrapper {
  position: relative;

  span {
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 44.932px;
    border-radius: 50%;
    background: #d4d6df;
  }
}

.cart__card-name-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cart__card-name {
  font-weight: 700;
  line-height: 26.002px;
}

.cart__card-price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  min-width: 100px;

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.002px;
  }
}

.cart__close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
}

// PROMO-CODE

.cart__code-form {
  gap: 5px;

  input {
    width: 50%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #d4d6df;
    background: #fff;
  }
}

.cart__btn-usepromo {
  width: 50%;
  padding: 12px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: #231f20;
  border: 0;
  text-transform: none;
}

.cart__code-form-wrapper {
  display: flex;
}

// AMOUNT

.cart__amount {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: none;
}

.cart__amount-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  &--jcs {
    gap: 10px;
    justify-content: start;
  }

  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 26.32px;
  }
}

.cart__btn-text {
  color: #9d9d9d;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

// PRICE

.cart__price {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  border-top: 1px solid #e3c7bf;

  label {
    display: flex;
    gap: 10px;
    text-transform: none;
  }

  .btn {
    width: 100%;
    color: white;
    background: black;
  }
}

.cart__price-wrapper {
  span {
    font-size: 26px;
    font-weight: 300;
    line-height: 33.19px;
    letter-spacing: 0.933px;
  }
}

.cart__checkbox {
  accent-color: black;
}

.cart__img {
  display: block;
}

.cart__coment-wrapper {
  display: flex;
  flex-direction: column;

  .cart__comment {
    overflow: hidden;
    height: 0;
    padding: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    transition: height 0.5s ease-in-out;
   }

  &--coment-active {
    gap: 20px;

    .cart__comment {
      overflow: unset;
      height: 170px;
      transition: height 0.5s ease-in-out;
      padding: 5px;
      border: 1px solid #231f20;
     }
  }
}

.cart__comment {
  width: 100%;
}

.cart__pay-form {
  input[type="submit"] {
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    font-size: 16px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    line-height: 22.67px;
    text-transform: uppercase;
    background: #000;
    border: 0;

    &:hover {
      opacity: 0.8;
    }
  }
}

.cart__quantity {
  text-transform: lowercase;
  height: 50px;
  font-size: 14px;
  color: lightgrey;
}
