.innovations__article {
  display: flex;

  &--reverse-order {
    .innovations__text-wrapper {
      order: 2;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-top: 100px;
  }
}

.innovations__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding: 60px 100px;

  @media (max-width: $tablet-width) {
    max-width: unset;
    padding: 0 16px;
  }
}

.innovations__heading {
  margin-bottom: 60px;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.innovations__about {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28.5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
  }
}

.innovations__img {
  max-width: 50%;

  @media (max-width: $tablet-width) {
    margin-left: -16px;
    max-width: unset;
    height: 100vw;
    margin-bottom: 40px;
  }
}

// block1

.innovations__block1 {
  display: flex;
  align-items: center;
  margin: 300px 0;

  .innovations__heading {
    z-index: 1;
    margin-right: -300px;
    margin-left: -20px;
  }

  .innovations__text-wrapper {
    padding: 70px;
    padding-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    margin: 0;
    margin-top: 100px;

    .innovations__heading {
      position: absolute;
      top: 253px;
      left: 154px;
      margin-right: 0;
      margin-left: 0;
    }

    .innovations__text-wrapper {
      align-self: start;
      width: 55%;
      padding: 0 16px;
    }

    img {
      &:nth-of-type(1) {
        align-self: start;
        width: 250px;
        height: 420px;
        margin-bottom: 10px;
      }

      &:nth-of-type(2) {
        align-self: end;
        width: 40%;
        height: 243px;
        margin-top: -243px;
      }
    }
  }


}

// block2

.innovations__block2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 270px;
  padding: 0 100px;

  .innovations__heading {
    padding-right: 50px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0 16px;

    .innovations__heading {
      padding-right: 0;
    }

    img {
      width: 100%;
      height: 400px;
    }

    .innovations__img-wrapper {
      flex-direction: column;
      gap: 25px;
    }
  }
}

.innovations__img-wrapper {
  display: flex;
  justify-content: space-between;
}

// block3

.innovations__block3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 250px;

  .innovations__heading {
    margin-right: -100px;
  }

  .innovations__img-wrapper {
    display: flex;
    gap: 25px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;

    .innovations__heading {
      margin-right: 0;
    }

    .innovations__img-wrapper {
      gap: unset;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        width: 48%;
        height: 250px;
      }
    }
  }
}

//block4

.innovations__block4 {
  display: flex;
  gap: 150px;
  padding-bottom: 5px;

  .main-img {
    margin-bottom: 50px;
  }

  .innovations__text-wrapper {
    justify-content: end;
    align-items: start;
    gap: 150px;
    padding: 0;
    gap: 150px;
  }

  .innovations__img-wrapper {
    justify-content: unset;
    justify-content: end;
    gap: 26px;
  }

  .innovations__about {
    padding-right: 120px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 16px;
    gap: 40px;

    .main-img {
      order: 2;
      width: 100vw;
      height: 100vw;
      margin-bottom: 35px;
      margin-left: -16px;
    }

    .innovations__about {
      order: 2;
      margin-bottom: 0;
      padding-right: 0;
    }

    .innovations__img-wrapper {
      gap: 12px;

      img {
        width: 120px;
        height: 160px;
      }
    }

    .innovations__text-wrapper{
      gap: 40px;
    }
  }
}
