.main-nav {
  position: fixed;
  z-index: 100;

  @media (max-width: $tablet-width) {
    top: 41px;
    right: 0;
    width: 100%;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    gap: 10px;
  }
}

.main-nav__item {
  @media (max-width: $tablet-width) {
    &:first-child {
      order: 4;
    }
  }
}

.main-nav__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  width: fit-content;
  height: 40px;
  padding: 0;
  background: transparent;
  border: unset;
  transition: all ease-in-out 500ms;

  svg {
    fill: none;
  }

  &--open {
    svg {
      opacity: 0;
      transition: all ease-in-out 500ms;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 27px;
      height: 3px;
      background-color: #231F20;
      transition: all ease-in-out 500ms;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav__btn-catr {
  position: relative;
}

.main-nav__btn-amount {
  position: absolute;
  top: 0;
  right: -2px;
  font-size: 17.3px;
  font-weight: 700;
  line-height: 17.33px;
}

.main-nav__favicon {
  margin-left: -2px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 27px;
  height: 2px;
  background-color: #231F20;
  box-shadow: 0 9px 0 0 #231F20, 0 18px 0 0 #231F20;
  transition: all ease-in-out 500ms;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: #231F20;
    transition: all ease-in-out 500ms;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
