.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.main-nav__btn {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: unset;

  &--bee {
    picture {
      margin-left: -2px;
    }
  }

  svg {
    fill: none;
  }
}
