.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 110px;
  padding-top: 100px;
  padding-left: 120px;

  @media (max-width: $tablet-width) {
    gap: 15px;
    margin-bottom: 30px;
    padding: 0 16px;
  }
}

.nav-links__link {
  font-size: 17.5px;
  font-weight: 500;

  @media (max-width: $tablet-width) {
    font-size: 11.5px;

    span {
      display: none;
    }
  }
}
