.np {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.np__city-label {
  display: flex;
  flex-direction: column;
}

.np__city {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

.np__address-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.np__address-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #d4d6df;
  cursor: pointer;

  .np__hidden {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in-out;
  }

  &--selected {
    gap: 40px;

    .np__hidden {
      overflow: unset;
      height: 60px;
      transition: height 0.5s ease-in-out;
    }

    .np__circle {
      span {
        display: block;
        width: 8px;
        height: 8px;
        background: #1e1e1e;
        border-radius: 50%;
      }
    }
  }

  &--disabled {
    opacity: 0.6;
    background: lightgrey;
    cursor: not-allowed;
  }

  @media (max-width: $tablet-width) {
    gap: 20px;
  }
}

.np__item-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.np__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #1e1e1e;
}

.np__delivery {
  padding: 10px 0;
  font-family: "Inter", "Arial", sans-serif;
  border: 1px solid white;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;

  &:hover {
    border-bottom: 1px solid black;
  }
  &:focus {
    outline: 0;
    border-bottom: 1px solid black;
  }
}

.np__big-city-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.np__big-city {
  display: flex;
  height: 32px;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.40);
  text-transform: none;

  &.active {
    background-color: #231F20;
    color: white;
  }
}
