.page-body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  line-height: normal;
  color: #231f20;

  a {
    color: #231f20;
  }

  @media (max-width: $tablet-width) {
    font-size: 12px;
  }
}
