.page-footer {
  display: flex;
  gap: 233px;
  align-items: center;
  justify-content: center;
  padding: 85px 0;
  border-top: 0.75px solid #707070;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 60px 16px;
  }
}

