.page-header {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {

  }
}

.page-header__wrapper {
  display: flex;
}

.page-header__menu {
  box-sizing: border-box;
  min-height: 720px;
  min-width: 290px;
  padding: 29px 0 0 40px;
  background:  lightgray no-repeat url('../img/bcg/honeycomb.webp') ;
  background-size: contain;
}

.page-header__honeycomb {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-left: 11px;
}

.page-header__about {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  padding: 0 30px;
  padding-bottom: 55px;
  background:  lightgray no-repeat -30px 0  url('../img/bcg/tubes.webp');
}
