.products {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-right: 0;

  @media (max-width: $tablet-width) {
    margin-top: 80px;
    padding-right: 16px;
  }
}

.products__wrapper {
  overflow-x: hidden;
  max-width: 1060px;
}

.products__heading {
  margin-bottom: 34px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    padding-right: 30%;
  }
}

.products__text {
  margin-bottom: 34px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.products__about {
  max-width: 930px;
  font-size: 17px;
  line-height: 28.635px;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 20px;
  }
}

.products__goods {
  display: flex;
  gap: 85px;
  margin-top: 120px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }
}

.products__nav-list {
  display: flex;
  gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 34px;

  @media (max-width: $tablet-width) {
    gap: 10px;
  }
}

.products__nav-item {
  font-size: 12.5px;
  line-height: 20px;
  letter-spacing: 0.2px;

  &--active {
    text-decoration: underline;
  }
}

.products__controls {
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  h3 {
    max-width: 185px;
    color: #231F20;
    font-size: 30.392px;
    font-weight: 400;
    line-height: 40.26px;
    letter-spacing: 0.7px;
  }

}

.products__list {
  width: fit-content;
  display: flex;
  gap: 30px;
}

.products__btn {
  @media (max-width: $tablet-width) {
    width: 100%;
    order: 4;
  }
}
