.sets {
  margin-top: 140px;

  @media (max-width: $tablet-width) {
    min-height: 1520px;
    margin-top: 80px;
  }
}

.sets__heading {
  margin-bottom: 30px;
}

.sets__list {
  position: relative;
  min-height: 708px;
}

.sets__item {
  position: absolute;
  gap: 8px;

  &:nth-of-type(1),
  &:nth-of-type(4),
  &:nth-of-type(5) {
    .card__wrapper {
      border-top: unset;
      border-left: 1px solid #e3c7bf;
    }
  }

  &:nth-of-type(1) {
    top: 90px;
    width: 31%;
  }

  &:nth-of-type(2) {
    width: 19%;
    left: calc(31% + 20px);
    max-height: 295px;

    .card__wrapper {
      position: absolute;
      left: -100%;
    }
  }

  &:nth-of-type(3) {
    width: 19%;
    right: calc(25.8% + 20px);
    max-height: 295px;

    .card__wrapper {
      position: absolute;
      left: calc(100% + 16px);
      width: 190px;
    }
  }

  &:nth-of-type(4) {
    width: 25.8%;
    top: 130px;
    right: 0;
  }

  &:nth-of-type(5) {
    width: 37%;
    right: calc(27.8% + 20px);
    bottom: 0;
    max-height: 380px;
    margin-bottom: 0;
  }

  .card__wrapper {
    padding: 0 6px;
  }

  .card__pcice-wrapper {
    flex-direction: column;
  }

  .card__type {
    font-weight: 700;
  }

  .card__like {
    right: 10px;
  }

  @media (max-width: $tablet-width) {
    gap: 0;

    &.card {
      min-width: unset;
    }

    .card__bcg {
      height: 100%;
      overflow: hidden;
    }

    .card__wrapper {
      padding: 6px 0;
    }

    &:nth-of-type(1) {
      top: 0;
      width: 100%;
      height: 380px;

      .card__pcice-wrapper {
        padding-left: 20px;
      }

      .card__wrapper {
        position: absolute;
        top: unset;
        left: 10px;
        bottom: 0;
        border: none;
      }

      .card__about {
        padding-right: 30%;
        padding-left: 6px;
        border-left: 1px solid #e3c7bf;
      }
    }

    &:nth-of-type(2) {
      width: calc(50% - 10px);
      top: 405px;
      left: unset;
      right: 0;
      height: 220px;

      .card__pcice-wrapper {
        padding-right: 10px;
        text-align: right;
      }

      .card__wrapper {
        position: absolute;
        left: unset;
        right: 10px;
        border: none;
      }

      .card__about {
        position: absolute;
        left: calc(-100% - 20px);
        border-top: 1px solid #e3c7bf;
        padding-right: 15px;
        max-width: 200px;
      }
    }

    &:nth-of-type(3) {
      width: calc(50% - 10px);
      left: 0;
      top: 530px;
      height: 220px;

      .card__wrapper {
        position: absolute;
        top: 0;
        left: 10px;
        border: none;
        width: 140px;
      }

      .card__about {
        position: absolute;
        bottom: 0;
        right: calc(-100%);
        max-width: 100%;
        padding-left: 15px;
        border-bottom: 1px solid #e3c7bf;
      }
    }

    &:nth-of-type(4) {
      top: 760px;
      width: 60%;
      height: 330px;

      .card__wrapper {
        position: absolute;
        top: 0;
        left: 10px;
        border: none;
      }

      .card__about {
        position: absolute;
        top: 0;
        right: 100%;
        width: 62%;
        border-top: 1px solid #e3c7bf;
      }

      .card__img {
        max-height: 330px;
      }
    }

    &:nth-of-type(5) {
      width: 100%;
      right: unset;
      top: 1090px;
      bottom: unset;
      max-height: 380px;

      .card__wrapper {
        position: absolute;
        bottom: 10px;
        left: 10px;
        border: none;
      }

      .card__about {
        padding: 5px 10px;
        border-left: 1px solid #e3c7bf;
      }
    }

    .card__type,
    .card__pcice {
      color: white;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
