.slide-panel {
  overflow: auto;
  z-index: 6;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding-top: 200px;
  padding-right: 80px;
  padding-bottom: 60px;
  padding-left: 150px;
  transition: left 0.7s ease;

  &--open {
    left: 0;
  }

  @media (max-width: $tablet-width) {
    padding: 16px;
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

.slide-panel__wrapper {
  position: relative;
  max-width: 1440px;
  padding-left: 100px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

.slide-panel__logo {
  position: absolute;
  top: -170px;
  left: -100px;

  @media (max-width: $tablet-width) {
    top: -800px;
    left: 0;
    width: 77px;
    height: 46px;
  }
}

.slide-panel__heading{
  margin-bottom: 60px;
}

.slide-panel__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 400;
}
