.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $tablet-width) {
    align-items: center;
  }
}

.subscribe__form {
  max-width: 360px;
  margin-bottom: 80px;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
