.user {
  display: flex;
  gap: 100px;

  .form__toggle-password {
    right: 0;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;
  }
}

.user__nav {
  min-width: 200px;
}

.user__nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
  }
}

.user-nav__item {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &.active {
    text-decoration: underline;
  }
}

.user__button-wrapper {
  display: flex;
  align-items: center;

  .btn {
    margin-top: 0;
  }

  @media (max-width: $tablet-width) {
    justify-content: space-between;

    .btn {
      width: 50%;
    }
  }
}
