.user {
  display: flex;
  gap: 140px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;
  }
}

.user__nav {
  min-width: 230px;
}

.user__nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    gap: 15px;
  }
}

.user-nav__item {
  &.active {
    text-decoration: underline;
  }
}

.user__button-wrapper {
  display: flex;
  align-items: center;

  .btn {
    margin-top: 0;
    width: 50%;
  }

  @media (max-width: $tablet-width) {
    justify-content: space-between;
  }
}
