* {
  box-sizing: border-box;
}

body.hidden-scroll {
  overflow: hidden;
  padding-right: 15px;

  @media (max-width: $tablet-width) {
    padding-right: 0;
  }
}

body.hidden-scroll::-webkit-scrollbar {
  display: none;
}

body.hidden-scroll {
  scrollbar-width: none;
}

h1,
h2,
h3,
p,
ul,
blockquote {
  margin: 0;
  padding: 0;
  word-break: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

a,
button {
  cursor: pointer;
}

img {
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;
  background-color: transparent;
  border: 1px solid #000;

  &--small {
    gap: 34px;
    padding: 0;
    border: unset;
  }

  &--white {
    border-color: white;
    color: white;

    svg {
      fill: white;
    }
  }
}

button {
  text-transform: uppercase;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 100px;

  @media (max-width: $tablet-width) {
    padding: 0 16px;
  }
}

.heading {
  font-size: 60px;
  font-weight: 400;
  line-height: 74.887px;
  letter-spacing: 0.771px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.5px;
  }
}

.desktop-only {
  display: flex !important;

  @media (max-width: $tablet-width) {
    display: none !important;
  }
}

.mobile-only {
  display: none !important;

  @media (max-width: $tablet-width) {
    display: flex !important;
  }
}

.pulsing {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: pulsing 3s infinite;
  }

  &::after {
    animation-delay: -.4s;
  }
}

@keyframes pulsing {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.75);
    opacity: 0;
  }
}
